.template {
    color: black;
    font-size: 20px;
  }
  
  .box {
    border: 1px solid black;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .input {
    margin-bottom: 20px;
  }
  
  .check {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border-radius: 2px;
  }
  
  .check:hover {
    transform: scale(1.1);
  }
